@import '../../../common.scss';

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2.25rem 2.5rem;
  box-sizing: border-box;
  z-index: 30;
  transition: background-color 0.5s ease;

  @include mobile {
    padding: 1rem 2rem;
  }

  &.active {
    background-color: #fff;

    > .gnb > li {
      > a {
        color: #000;
      }
      > button {
        color: #000;
      }
    }
  }

  > .gnb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > li {
      font-size: 1.25rem;
      font-weight: 500;

      @include mobile {
        display: none;
      }

      &.logo {
        @include mobile {
          display: block;
        }
      }

      &.mobileButton {
        display: none;

        @include mobile {
          display: block;
          font-size: 2.5rem;
        }
      }

      &.black {
        > a {
          color: #000;
        }
        > button {
          color: #000;
        }
      }

      > h1 > a > img {
        width: 100%;
        max-width: 6.25rem;
      }

      > a {
        transition: background-color 0.5s ease;
        color: #fff;
        @include fontEn;
      }
      > button {
        color: #fff;
      }
    }
  }
}
