@import '../../../common.scss';

.dimmed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);

  > .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 20;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 50rem;
    background-color: #fff;

    @include mobile {
      width: calc(100% - 6rem);
    }

    > .header {
      padding: 3.75rem 2.5rem 1.5rem;

      @include mobile {
        padding: 3rem 2rem 1rem;
      }

      > .borderBottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        > .title {
          font-size: 2.5rem;
          font-weight: 500;
          color: #000;
          @include fontEn;

          @include mobile {
            font-size: 2rem;
          }
        }

        > .closeButton {
          font-size: 4rem;
          color: #000;

          @include mobile {
            font-size: 3.5rem;
          }
        }
      }
    }
    > .body {
      height: 40vh;
      padding: 1.5rem 2.5rem;
      overflow: hidden;
      overflow-y: scroll;

      @include mobile {
        padding: 1.5rem 2rem;
      }

      > li {
        text-align: left;
        margin-bottom: 2.5rem;
        &:last-of-type {
          margin-bottom: 0;
        }

        > .question {
          font-size: 1.5rem;
          font-weight: 600;
          color: #000;
          margin-bottom: 1rem;

          @include mobile {
            font-size: 1.25rem;
          }
        }
        > .answer {
          font-size: 1.25rem;
          line-height: 1.6;
          color: #000;
          font-weight: 400;
          word-break: keep-all;

          @include mobile {
            font-size: 1rem;
          }
        }
        > .warning {
          margin-top: 1rem;
          font-size: 1.25rem;
          color: #000;
          font-weight: 400;
          word-break: keep-all;

          @include mobile {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
