@import '../../../common.scss';

.wrapper {
  > .background {
    width: 100vw;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../asset/images/about/s04_background.jpg');
    @include backgroundCenter;

    > .title {
      color: #fff;
      font-weight: 600;
      font-size: 13.75rem;
      @include fontEn;

      @include tablet {
        font-size: 10rem;
      }
      @include mobile {
        font-size: 5rem;
      }
    }
  }

  > .container {
    padding: 7.5rem 0;
    box-sizing: border-box;
    background-color: #fc9034;
    text-align: center;

    @include tablet {
      padding: 7.5rem 3rem;
    }

    > .subTitle {
      color: #fff;
      font-size: 2rem;
      line-height: 2.5;

      @include mobile {
        font-size: 1.5rem;
      }
    }
    > .title {
      font-size: 7.5rem;
      background-color: #fd6e1a;
      color: #fff;
      width: fit-content;
      margin: 0 auto 2.5rem;
      @include fontEn;

      @include mobile {
        font-size: 4rem;
      }
    }
    > .desc {
      font-size: 2rem;
      color: #fff;
      line-height: 1.6;
      margin-bottom: 6.25rem;
      word-break: keep-all;

      @include mobile {
        line-height: 2;
        font-size: 1.5rem;

        > br {
          display: none;
        }
      }
    }
    > .logo {
      width: 100%;
      max-width: 10.625rem;
      margin: 0 auto 2.5rem;
    }
    > .note {
      font-size: 1.5rem;
      color: #fff;
      word-break: keep-all;
      line-height: 2;

      @include mobile {
        font-size: 1.25rem;
      }
    }
  }
}
