@import '../../../common.scss';

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../asset/images/home/s01_background.jpg');
  @include backgroundCenter;

  > .info {
    > .title {
      font-size: 15rem;
      color: #fff;
      font-weight: 600;
      text-align: center;
      white-space: nowrap;
      @include fontEn;

      @include tablet {
        font-size: 10rem;
      }
      @include mobile {
        font-size: 5rem;
      }
    }
    > .desc {
      padding: 0 2rem;
      box-sizing: border-box;
      text-align: center;
      color: #fff;
      font-size: 1.5rem;
      line-height: 1.6;
      font-weight: 600;
      opacity: 0;
      animation: fadeIn 3s forwards linear;
      @include fontEn;

      @include mobile {
        > br {
          display: none;
        }
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}
