@import '../../../common.scss';

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: rgba(0, 0, 0, 0.08);

  > .info {
    text-align: center;

    > .desc {
      padding: 0 2rem;
      box-sizing: border-box;
      font-size: 4rem;
      color: #000;
      font-weight: 300;
      line-height: 1.8;
      word-break: keep-all;
      margin-bottom: 5.625rem;

      > span {
        transition: opacity 0.2s ease-in;
        opacity: 0.1;
      }
    }

    > .subDesc {
      font-size: 1.5rem;
      color: #000;
      font-weight: 400;
      @include fontEn;
    }
  }

  > .bottomBox {
    width: 100%;
    background-color: #f8f8f8;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
