@import '../../../common.scss';

.container {
  overflow: hidden;
  width: 100vw;

  > .autoSlider {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 200vw;

    &.white {
      li {
        color: #fff;
      }
    }

    > li {
      width: 100vw;

      &:first-of-type {
        animation: moveLeftAnimation 12.5s infinite linear;
      }

      @keyframes moveLeftAnimation {
        0% {
          margin-left: 0%;
        }
        100% {
          margin-left: -50%;
        }
      }

      > ul {
        display: flex;
        align-items: center;
        justify-content: space-around;

        > li {
          font-size: 1.75rem;
          font-weight: 600;
          color: #000;
          white-space: nowrap;
          @include fontEn;

          @include desktop {
            font-size: 1.35rem;
          }

          @include tablet {
            font-size: 1.25rem;
            &:nth-of-type(5) {
              display: none;
            }
            &:nth-of-type(6) {
              display: none;
            }
          }
          @include mobile {
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}
