@import '../../common.scss';

.wrapper {
  display: flex;
  align-items: flex-start;

  > .productContainer {
    width: 50vw;
  }

  > .detailInfo {
    width: 50vw;
    min-height: 2000px;
    background-color: aqua;
  }
}
