@import '../../common.scss';

.wrapper {
  > .flexBox {
    position: relative;
    display: flex;
    justify-content: flex-end;

    > .productContainer {
      width: 50vw;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;

      &.active {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
      }
    }

    > .detailBody {
      width: 50vw;

      &.BLEU {
        background-color: $softBlueBg;
      }
      &.VERT {
        background-color: $softGreenBg;
      }
      &.ROUGE {
        background-color: $softRedBg;
      }
      &.ROSE {
        background-color: $softPinkBg;
      }
    }
  }
  > .observe {
    height: 1px;
  }
  > .bottomBox {
    position: relative;
    z-index: 30;

    > .autoSliderBox {
      background-color: #f9f9f9;
    }
  }
}
