@import '../../common.scss';

.wrapper {
  > .flexBox {
    display: flex;

    > .productContainer {
      width: 50vw;
    }

    > .detailBody {
      width: 50vw;

      &.BLEU {
        background-color: $softBlueBg;
      }
      &.VERT {
        background-color: $softGreenBg;
      }
      &.ROUGE {
        background-color: $softRedBg;
      }
      &.ROSE {
        background-color: $softPinkBg;
      }
    }
  }
}
