@import '../../../common.scss';

$red: #ff5c62;
$pink: #ff96bf;
$green: #20bf76;
$blue: #496ef8;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  > .desc {
    font-size: 3.75rem;
    font-weight: 600;
    text-transform: uppercase;
    @include fontEn;

    @include desktop {
      font-size: 3rem;
    }
    @include tablet {
      font-size: 2rem;
    }
    @include mobile {
      font-size: 1.5rem;
    }

    &.red {
      color: $red;
    }
    &.pink {
      color: $pink;
    }
    &.green {
      color: $green;
    }
    &.blue {
      color: $blue;
    }
  }

  > .titleBox {
    position: relative;

    > .title {
      position: relative;
      z-index: 10;
      font-size: 20rem;
      font-weight: 600;
      @include fontEn;

      @include desktop {
        font-size: 12rem;
      }
      @include tablet {
        font-size: 8rem;
      }
      @include mobile {
        font-size: 5rem;
      }

      &.red {
        color: $red;
      }
      &.pink {
        color: $pink;
      }
      &.green {
        color: $green;
      }
      &.blue {
        color: $blue;
      }
    }

    > .balm {
      position: absolute;
      transform: translate(0, -50%);
      transition: all 0.2s ease-in;

      &.left {
        animation: slowBounceUp 3s infinite ease-in;
        &.red {
          width: 100%;
          max-width: 15rem;
          z-index: 20;
          top: 14.375rem;
          left: -6.25rem;

          @include tablet {
            max-width: 12.5rem;
            top: 12rem;
            z-index: 10;
          }
          @include mobile {
            max-width: 10rem;
            top: 4rem;
          }
        }

        &.pink {
          width: 100%;
          max-width: 15rem;
          top: 16.875rem;
          left: -10rem;

          @include tablet {
            max-width: 14.375rem;
            top: 14.875rem;
          }
          @include mobile {
            max-width: 12.075rem;
            top: 2.875rem;
          }
        }

        &.green {
          width: 100%;
          max-width: 20rem;
          top: 20rem;
          left: -9rem;

          @include desktop {
            top: 14rem;
          }

          @include tablet {
            max-width: 17.5rem;
            top: 10rem;
          }
          @include mobile {
            max-width: 15rem;
            top: 7rem;
          }
        }

        &.blue {
          width: 100%;
          max-width: 18rem;
          top: 9.0625rem;
          left: -11.875rem;

          @include tablet {
            max-width: 15.5rem;
          }
          @include mobile {
            max-width: 13rem;
            top: 6.0625rem;
          }
        }
      }

      &.right {
        animation: slowBounceUp 4s infinite ease-in;
        &.red {
          width: 100%;
          z-index: 20;
          max-width: 18rem;
          right: -3.75rem;
          top: 7.5rem;

          @include tablet {
            max-width: 15.5rem;
            right: -8rem;
          }
          @include mobile {
            max-width: 13rem;
          }
        }

        &.pink {
          width: 100%;
          z-index: 20;
          max-width: 18rem;
          right: -12.75rem;
          top: 8.5rem;

          @include tablet {
            max-width: 15.5rem;
          }
          @include mobile {
            max-width: 13rem;
          }
        }

        &.green {
          width: 100%;
          z-index: 20;
          max-width: 12rem;
          right: -11.875rem;
          top: 10.625rem;

          @include tablet {
            max-width: 9.5rem;
            top: 3.625rem;
            right: -8.875rem;
          }
          @include mobile {
            max-width: 7rem;
          }
        }

        &.blue {
          width: 100%;
          z-index: 20;
          max-width: 20rem;
          right: -15rem;
          top: 16.25rem;

          @include desktop {
            top: 13.25rem;
          }

          @include tablet {
            max-width: 17.5rem;
            top: 10.25rem;
          }
          @include mobile {
            max-width: 15rem;
            top: 6.25rem;
            right: -12rem;
          }
        }
      }

      @keyframes slowBounceUp {
        0% {
          transform: translateY(-50%);
        }
        50% {
          transform: translateY(-52%);
        }
        100% {
          transform: translateY(-50%);
        }
      }
    }
  }

  > .subDesc {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.8;
    padding: 0 2rem;
    word-break: keep-all;
    position: relative;
    z-index: 30;
    margin-bottom: 2.8725rem;
    box-sizing: border-box;

    @include tablet {
      margin-top: 2rem;
    }

    > .subTitle {
      line-height: normal;
      display: block;
      text-decoration: underline;
      padding-bottom: 5px;
      margin-bottom: 1rem;
    }
  }
}
