@import '../../../common.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  > .desc {
    font-size: 3.75rem;
    font-weight: 600;
    text-transform: uppercase;
    @include fontEn;

    @include tablet {
      font-size: 2.5rem;
    }
    @include mobile {
      font-size: 1.5rem;
    }

    &.red {
      color: $normalRed;
    }
    &.pink {
      color: $normalPink;
    }
    &.green {
      color: $normalGreen;
    }
    &.blue {
      color: $normalBlue;
    }
  }

  > .titleBox {
    position: relative;

    > .title {
      position: relative;
      z-index: 10;
      font-size: 20rem;
      font-weight: 600;
      @include fontEn;

      @include desktop {
        font-size: 14rem;
      }
      @include tablet {
        font-size: 8rem;
      }
      @include mobile {
        font-size: 5rem;
      }

      &.red {
        color: $normalRed;
      }
      &.pink {
        color: $normalPink;
      }
      &.green {
        color: $normalGreen;
      }
      &.blue {
        color: $normalBlue;
      }
    }

    > .balm {
      position: absolute;
      transform: translate(0, -50%);
      transition: all 0.2s ease-in;
      width: 100%;
      max-width: 37.5rem;

      @include desktop {
        max-width: 28.125rem;
      }
      @include tablet {
        max-width: 18.75rem;
      }
      @include mobile {
        max-width: 12.5rem;
      }

      &.left {
        animation: slowBounceUp 3s infinite ease-in;
        &.red {
          z-index: 20;
          top: 50%;
          left: -30%;
          @include mobile {
            left: -40%;
          }
        }

        &.pink {
          top: 60%;
          left: -30%;
          z-index: 20;
          @include mobile {
            left: -45%;
          }
        }

        &.green {
          top: 100%;
          z-index: 20;
          left: -50%;
          @include mobile {
            left: -60%;
          }
        }

        &.blue {
          top: 0%;
          left: -40%;
          z-index: 20;
          @include mobile {
            left: -50%;
          }
        }
      }

      &.right {
        animation: slowBounceUp 4s infinite ease-in;
        &.red {
          z-index: 20;
          right: -30%;
          top: 40%;
          @include mobile {
            right: -40%;
          }
        }

        &.pink {
          z-index: 20;
          right: -40%;
          top: 40%;
          @include mobile {
            right: -50%;
          }
        }

        &.green {
          z-index: 20;
          right: -50%;
          top: 80%;
          @include mobile {
            right: -60%;
          }
        }

        &.blue {
          z-index: 20;
          right: -50%;
          top: 90%;
          @include mobile {
            right: -60%;
          }
        }
      }

      @keyframes slowBounceUp {
        0% {
          transform: translateY(-50%);
        }
        50% {
          transform: translateY(-52%);
        }
        100% {
          transform: translateY(-50%);
        }
      }
    }
  }

  > .subDesc {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.8;
    padding: 0 2rem;
    word-break: keep-all;
    position: relative;
    z-index: 30;
    margin-bottom: 2.8725rem;
    box-sizing: border-box;

    > .subTitle {
      line-height: normal;
      display: block;
      text-decoration: underline;
      padding-bottom: 5px;
      margin-bottom: 1rem;
    }
  }
}
