@import '../../../common.scss';

$red: #ff5c62;
$pink: #ff96bf;
$green: #20bf76;
$blue: #496ef8;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  > .desc {
    font-size: 3.75rem;
    font-weight: 600;
    text-transform: uppercase;
    @include fontEn;

    &.red {
      color: $red;
    }
    &.pink {
      color: $pink;
    }
    &.green {
      color: $green;
    }
    &.blue {
      color: $blue;
    }
  }

  > .titleBox {
    position: relative;

    > .title {
      position: relative;
      z-index: 10;
      font-size: 20rem;
      font-weight: 600;
      @include fontEn;

      &.red {
        color: $red;
      }
      &.pink {
        color: $pink;
      }
      &.green {
        color: $green;
      }
      &.blue {
        color: $blue;
      }
    }

    > .balm {
      position: absolute;
      transform: translate(0, -50%);
      transition: all 0.2s ease-in;

      &.left {
        animation: slowBounceUp 3s infinite ease-in;
        &.red {
          width: 100%;
          max-width: 15rem;
          z-index: 20;
          top: 14.375rem;
          left: -6.25rem;
        }

        &.pink {
          width: 100%;
          max-width: 15rem;
          top: 16.875rem;
          left: -10rem;
        }

        &.green {
          width: 100%;
          max-width: 20rem;
          top: 20rem;
          left: -9rem;
        }

        &.blue {
          width: 100%;
          max-width: 18rem;
          top: 9.0625rem;
          left: -11.875rem;
        }
      }

      &.right {
        animation: slowBounceUp 4s infinite ease-in;
        &.red {
          width: 100%;
          z-index: 20;
          max-width: 18rem;
          right: -3.75rem;
          top: 7.5rem;
        }

        &.pink {
          width: 100%;
          z-index: 20;
          max-width: 18rem;
          right: -12.75rem;
          top: 8.5rem;
        }

        &.green {
          width: 100%;
          z-index: 20;
          max-width: 12rem;
          right: -11.875rem;
          top: 10.625rem;
        }

        &.blue {
          width: 100%;
          z-index: 20;
          max-width: 20rem;
          right: -15rem;
          top: 16.25rem;
        }
      }

      @keyframes slowBounceUp {
        0% {
          transform: translateY(-50%);
        }
        50% {
          transform: translateY(-52%);
        }
        100% {
          transform: translateY(-50%);
        }
      }
    }
  }

  > .subDesc {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;

    > .subTitle {
      display: block;
      text-decoration: underline;
      padding-bottom: 5px;
      margin-bottom: 1rem;
    }
  }

  > .shopButton {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    border-radius: 50%;
    padding: 1.625rem 3.625rem;
    margin-top: 2.8125rem;
    border: 1px solid #fff;
    @include fontEn;
  }
}
