@import '../../../common.scss';

.wrapper {
  background-color: #184d35;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 7.5rem 0;
  text-align: center;

  @include desktop {
    padding: 7.5rem 3rem;
  }

  > .title {
    width: 8.75rem;
    margin-bottom: 5.25rem;
    > img {
      width: 100%;
    }
  }
  > .desc {
    color: #fff;
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 6.25rem;

    @include tablet {
      line-height: 2;
      font-size: 1.5rem;

      > br {
        display: none;
      }
    }
    @include mobile {
      font-size: 1.25rem;
    }

    > span {
      font-size: 1.25rem;

      @include mobile {
        font-size: 1rem;
      }
    }
  }
  > .list {
    display: flex;
    align-items: center;
    justify-content: center;

    > li {
      font-size: 3.25rem;
      color: #fff;
      font-weight: 600;
      @include fontEn;

      @include tablet {
        font-size: 2.5rem;
      }
      @include tablet {
        font-size: 1.75rem;
      }

      &:after {
        content: '|';
        padding: 0 4rem;

        @include tablet {
          padding: 0 2rem;
        }

        @include mobile {
          padding: 0 1rem;
        }
      }

      &:last-of-type {
        &:after {
          display: none;
        }
      }
    }
  }
}
