@mixin fontEn {
  font-family: 'Montserrat', sans-serif;
}

@mixin backgroundCenter {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin pc_hover {
  @media (hover: hover) {
    @content;
  }
}
@mixin desktop {
  @media screen and (max-width: 1279px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 740px) {
    @content;
  }
}

// colors
$normalRed: #ff5c62;
$normalPink: #ff96bf;
$normalGreen: #20bf76;
$normalBlue: #496ef8;

$red: #ec363e;
$pink: #fc51a8;
$green: #18a55b;
$blue: #2851e8;

$softBlue: #e6edff;
$softGreen: #e4eee7;
$softRed: #f8e6e7;
$softPink: #ffe6ef;

$softBlueBg: #f7f9ff;
$softGreenBg: #f7faf8;
$softRedBg: #fffafa;
$softPinkBg: #fffafa;

$deepBlue: #001a77;
$deepGreen: #006422;
$deepRed: #a50908;
$deepPink: #e01753;
