@mixin fontEn {
  font-family: 'Montserrat', sans-serif;
}

@mixin backgroundCenter {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin pc_hover {
  @media (hover: hover) {
    @content;
  }
}
@mixin desktop {
  @media screen and (max-width: 1279px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 740px) {
    @content;
  }
}
