@import '../../../common.scss';

$purple: #aa3bf0;

.button {
  font-size: 1.5rem;
  font-weight: 300;
  border-radius: 50%;
  padding: 1.625rem 3.625rem;
  white-space: nowrap;
  transition: all 0.2s ease-in;
  border: 1px solid;
  @include fontEn;

  @include mobile {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }

  &.black {
    border-color: #000;
    color: #000;

    @include pc_hover {
      &:hover {
        border-color: #000;
        background-color: #000;
        color: #fff;
      }
    }
  }

  &.white {
    border-color: #fff;
    color: #fff;
    @include pc_hover {
      &.purple {
        &:hover {
          color: $purple;
          background-color: #fff;
        }
      }
      &.BLEU {
        &:hover {
          color: $blue;
          background-color: #fff;
        }
      }
      &.ROUGE {
        &:hover {
          color: $red;
          background-color: #fff;
        }
      }
      &.ROSE {
        &:hover {
          color: $pink;
          background-color: #fff;
        }
      }
      &.VERT {
        &:hover {
          color: $green;
          background-color: #fff;
        }
      }
      &.black {
        &:hover {
          color: #000;
          background-color: #fff;
        }
      }
    }
  }
}
